@font-face {
  font-family: 'Romie';
  src: url('Romie-Regular.woff') format ('woff')
}


body {
  color: black;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: 'Romie', Fallback, serif;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

p {
font-size: 22px;
line-height: 1.4;
}
::selection {
  background: #ff00d4; /* WebKit/Blink Browsers */
}

header {
    margin-bottom: 3rem;
    font-family: 'Romie', Fallback, serif;
    font-size: 22px;

}


/* (A) TABS CONTAINER */
.tab {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label {
  grid-column: 1 / span 2;
}


/* (B) HIDE CHECKBOX */
.tab input { display: none; }

/* (C) TAB LABEL */
.tab label {
  display: flex;
  margin-top: 10px;
  color: black;
  background: white;
  cursor: pointer;
  font-size:54px;
  font-family: 'Romie', Fallback, serif;

}

.tab label:hover {
    color:#ff00d4;
}


/* (D) TAB CONTENT */
.tab .tab-content {
  background:white;
  /* CSS ANIMATION WILL NOT WORK WITH AUTO HEIGHT */
  /* THIS IS WHY WE USE MAX-HEIGHT INSTEAD */
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
  font-family: 'Romie', Fallback, serif;

}


/* (E) OPEN TAB ON CHECKED */
.tab input:checked ~ .tab-content { 
  max-height: 200vh; 
}


/* (F) EXTRA - ADD ARROW INDICATOR */
.tab label::before {
  /* content: "\25b6"; */
  content: ">";
  right: 10px;
  top: 10px;
  display: block;
  transition: all 0.4s;
  margin-right:1rem;
}
.tab input:checked ~ label::before { transform: rotate(90deg); }

/* (X) DOES NOT MATTER */
html, body { font-family: 'Romie', Fallback serif; }

/* fix this so it adjust (sticky) */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }

  a {
      color: #ff00d4;
  }

  /* .hello {
    display: flex;
  } */


  img {
    margin-top:1rem;
    width: 100%;
    /* grid-column: 1 / span 1; */
  }

 .tab-content { 
    grid-column: 2 / span 1;
  } 

  /* .photo {
    grid-column: 1 / span 1;
  }
  
  .tab-content .hello .text {
    grid-column: 2 / span 1;
  } */



  @media only screen and (max-width: 800px) {
    .tab .tab-content p { margin-left: 0rem; }
    .hello {
      display: block;
    }
    
    .tab .tab-content .text p {
      margin-left: 0px;
      }

      p {
        font-size: 16px;
        }

        .tab {
          display: block;
        }

    h1, .tab label {
      font-size: 32px;
    }

  }